<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <div>
            <a href="/">Home</a> |
            <a href="/asset/add">Add New Asset</a> |
            <a href="/asset">All Assets List</a>
        </div>
        <h1><%= title %></h1>